# Files in the root folder
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Folders in the root folder
_targets/
data_clean/
data_raw/
Graphs/
Manuscript/
Results/
Scripts/A_Checking_targets.R
Scripts/Other
.positai
